/* Header styles */
.header__logo-container {
  margin: 0;
}

.header__logo {
  width: 160px;
}

.header__title {
  color: orange;
  font-size: 52px;
}

.header__options {
  font-size: 24px;
}

/* Main content styles */
.main-content {
  font-size: 20px;
}

.section-title {
  font-size: 42px;
}

.section_title--shopping-list-title {
  color: darkgoldenrod;
}

.shopping-list-section__item-image {
  width: 240px;
}

.recommended-recipe-section__subtitle {
  color: palevioletred;
  font-size: 32px;
}

.recommended-recipe-section__video {
  width: 600px;
}

/* Footer styles */
.footer__text--green {
  color: lightgreen;
}
