/* Fonts */

@font-face {
  font-family: 'Blood Crow Expanded Italic';
  src: url(./assets/fonts/bloodcrowei.ttf);
}

@font-face {
  font-family: 'Blood Crow Condensed';
  src: url(./assets/fonts/bloodcrowc.ttf);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-image: url(./assets/images/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.container {
  background-image: url(./assets/images/tanjiro.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 44.8rem;
  height: 53.6rem;
  background-color: #000000;
  border-radius: 50px;
  border: 1px solid #000000a4;
  position: relative;
  top: 100px;
  left: 200px;
  font-size: 2rem;
  box-shadow: 2px 4px 10px #000000;
}

.container__box {
  background-image: url(./assets/images/fire-background.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  width: 26.4rem; 
  height: 6.8rem; 
  border: 4px double #000000;
  border-radius: 60px; 
  position: absolute; 
  top: -3.4rem; 
  left: 9.2rem; 
  text-align: center;
  padding-top: 1.6rem; 
  font-family: 'Blood Crow Expanded Italic', 'Arial';
}

.container__footer {
  position: absolute;
  left: 10.3rem;
  bottom: 2.8rem;
  color: #000000;
  font-family: 'Blood Crow Condensed', 'Arial';
  font-size: 2.8rem;
}
