<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Challenge: layout</title>
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <header class="main-header">
      <div class="main-header__logo">
        <figure>Logo</figure>
      </div>
      <nav class="main-header__navbar">
        <ul class="main-header__list">
          <li class="main-header__item">
            <a href="#" class="main-header__link">Home</a>
          </li>
          <li class="main-header__item">
            <a href="#" class="main-header__link">Courses</a>
          </li>
          <li class="main-header__item">
            <a href="#" class="main-header__link">Instructors</a>
          </li>
          <li class="main-header__item">
            <a href="#" class="main-header__link">Blog</a>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <aside>
        <div class="aside">
          <div class="aside__box"></div>
          <div class="aside__box"></div>
          <div class="aside__box"></div>
          <div class="aside__box"></div>
        </div>
      </aside>
      <div class="main-content">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus harum
          obcaecati adipisci consectetur facilis, fugit alias nam, fugiat labore
          ab magnam quos consequuntur perspiciatis vitae mollitia vel eveniet
          asperiores! Illum!
        </p>
      </div>
    </main>
    <footer>
      <div class="footer">
        <span>Company information</span>
        <span class="footer__social">Social networks</span>
      </div>
    </footer>
  </body>
</html>
