<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Challenge: layout</title>
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <header class="main-header">
      <figure class="main-header__logo">Logo</figure>
      <nav>
        <ul class="main-header__list">
          <li class="main-header__item">
            <a href="#" class="main-header__link">Home</a>
          </li>
          <li class="main-header__item">
            <a href="#" class="main-header__link">Courses</a>
          </li>
          <li class="main-header__item">
            <a href="#" class="main-header__link">Instructors</a>
          </li>
          <li class="main-header__item">
            <a href="#" class="main-header__link">Blog</a>
          </li>
        </ul>
      </nav>
    </header>
    <aside class="aside">
      <div class="aside__box"></div>
      <div class="aside__box"></div>
      <div class="aside__box"></div>
      <div class="aside__box"></div>
    </aside>
    <main>
      <section class="container__main">main content</section>
    </main>
    <footer class="footer">
      <span>Company information</span>
      <span>Social networks</span>
    </footer>
  </body>
</html>
