* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #333;
  color: #fff;
}

.title {
  margin-bottom: 24px;
}

/* .container {
  width: 300px;
  height: 300px;
  background-color: #add8e6;
  position: relative;
  margin: auto;
} */

.container__box,
.box,
.box-2,
.link {
  width: 100px;
  height: 100px;
}

.container__box {
  background-color: #f08080;
  position: absolute;
  left: 200px;
  top: 100px;
}

.box {
  background-color: #90ee90;
  position: absolute;
  bottom: 0;
  right: 0;
}

.link {
  background-color: #d8bfd8;
  font-size: 2rem;
  text-decoration: none;
  color: #fff;
  position: absolute;
  top: 100px;
}
