* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

.container {
  border: 0.3rem solid #000000;
  display: flex;
  flex-wrap: wrap;
  /* height: 600px; */
  /* align-items: baseline; */
  /* flex-direction: row;
  flex-direction: row-reverse;
  flex-direction: column;
  flex-direction: column-reverse; */
  /* flex-wrap: wrap; */
  /* flex-wrap: wrap-reverse; */
  /* justify-content: center; */
  /* justify-content: space-around; */
  /* justify-content: space-evenly; */
  /* justify-content: flex-start; */
  /* justify-content: flex-end; */
}

.box {
  /* width: 15rem; */
  flex-basis: 15rem;
  height: 15rem;
  flex-grow: 1;
}

.box-1 {
  background-color: #ffe4c4;
  /* flex-grow: 1; */
  order: 3;
}

.box-2 {
  background-color: #a52a2a;
  /* flex-grow: 1; */
  order: 1;
}

.box-3 {
  background-color: #5f9ea0;
  order: 2;
}

.box-4 {
  background-color: #bdb76b;
  order: 6;
}

.box-5 {
  background-color: #ffd700;
}

.box-6 {
  background-color: #191970;
}
