* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main-header {
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.main-header__title {
  display: inline-block;
  color: #800080;
  font-family: fantasy;
}

.main-header__nav {
  display: inline-block;
  margin-left: 28px;
}

.main-header__list {
  list-style-type: none;
}

.main-header__item {
  display: inline-block;
  /* margin: 5px; */
}

.main-header__link {
  display: inline-block;
  background-color: #14ac9a;
  border-radius: 2px;
  padding: 10px;
  text-decoration: none;
  font-size: 20px;
  color: #ffffff;
}

.main-header__link--red {
  background-color: #ff0000;
}
