* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #333;
}

.container {
  background-color: cornflowerblue;
  width: 200px;
  height: 200px;
  position: relative;
  left: 20px;
  top: 100px;
  /* z-index: 0; */
}

.box {
  width: 100px;
  height: 100px;
}

.box--first {
  background-color: #ffebcd;
  position: relative;
  /* top: 50px; */
  left: 150px;
  z-index: -1;
}

.box--second {
  background-color: #7fffd4;
  position: absolute;
  bottom: 0;
  /* z-index: 10; */
}
